* {
    margin: 0;
    padding: 0;
}
body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: #E2FDFF    ;
}
.container {
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px #788BFF;
    background-color: #5465FF;

}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: #D7F9FF;
}
.display {
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 20px 20px 200px #BFD7FF;
}
button {
    font-size: 18px;
    margin: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    transition: all 0.2s ease-in-out;
}
button:hover {
    background-color: #E2FDFF;
}
.start {
    background-color: lightgreen;
}
.stop {
    background-color: lightcoral;
}
.reset {
    background-color: cornsilk;
}
